* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.feed {
  display: flex;
  justify-content: center;
  align-items: center;
  content-visibility: auto;
}

.post-wrapper {
  width: 50em;
  height: auto;
  background-color: white;
  border-radius: 0.3rem;
  border: 0.01rem solid white;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
}

.post-wrapper:hover {
  border: 0.01rem solid rgb(31, 31, 31);
}

.post-header {
  display: flex;
  height: auto;
}

.poster-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.2rem;
  position: relative;
}

.poster-img img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 0.22rem;
}

.poster-img a {
  background-color: #ccc;
  opacity: 0;
  transition: 0.3s ease;
}

.poster-img a,
.post-interaction a {
  position: absolute;
  z-index: 15;
  height: 3rem;
  width: 3rem;
}

.poster-img a:hover {
  background-color: #ccc;
  opacity: 0.5;
}

.poster-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0.2rem;
}

.username {
  height: fit-content;
  width: auto;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  z-index: 15;
}

.username:hover {
  text-decoration: underline;
}

.time-posted {
  height: fit-content;
  width: auto;

  font-size: 0.8rem;
}

.post-body {
  min-height: 4em;
  max-height: 8em;
  border-radius: 0.3rem;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  content: "";
  position: relative;
  z-index: 0;
  padding: 0.4rem 0.4rem;
}

.post-body:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 100px, white);
}

.post-title {
  font-size: 1.3rem;
}

.post-flair {
  color: white;
  height: auto;
  width: fit-content;
  padding: 0.025rem 0.6rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.help {
  background-color: rgb(126, 87, 194);
}

.info {
  background-color: rgb(0, 150, 136);
}

.general {
  background-color: rgb(52, 53, 54);
}
.post-info {
  display: flex;
  flex-direction: column;
}
.post-content {
  font-size: 1rem;
  margin-top: 0.3rem;
}

.post-interaction {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  position: relative;
}

.comment span,
.share span {
  font-size: 0.9rem;
  font-weight: normal;
  margin-left: 0.4rem;
  z-index: 15;
  color: #898989;
  font-weight: bold;
}

.comment:hover,
.like:hover,
.share:hover {
  background-color: rgba(26, 26, 27, 0.1);
  border-radius: 0.3rem;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content img {
  display: none;
}

.fa-heart {
  color: #ff5e5e;
}

.likes {
  color: black;
  font-size: 0.9rem;
  font-weight: normal;
}
.fa-share-from-square,
.fa-comments {
  color: #898989;
}
.redirect {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 14;
}
.comment,
.like,
.share {
  position: relative;
}

.comment a,
.like a,
.share a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.post-interaction {
  z-index: 15;
}

.filter-function {
  display: flex;
  gap: 2rem;
  height: fit-content;
  padding: 0.7rem 0.5rem;
  width: 50em;
  background-color: white;
  justify-content: center;
  border-radius: 0.3rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

input[type="radio"] {
  display: none;
  cursor: pointer;
}

label {
  position: relative;
  color: #898989;
  font-size: 1rem;
  padding: 0.125rem 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

label:hover {
  background-color: rgba(183, 183, 183, 0.44);
}

input[type="radio"]:checked + label {
  background-color: rgba(183, 183, 183, 0.44);
}

.flair-all:before {
  font: var(--fa-font-solid);
  content: "\f5fd";
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.flair-general:before {
  font: var(--fa-font-solid);
  content: "\f84c";
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.flair-help:before {
  font: var(--fa-font-solid);
  content: "\f059";
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.flair-info:before {
  font: var(--fa-font-solid);
  content: "\f05a";
  font-size: 0.8rem;
  margin-right: 0.3rem;
}
