* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-image: url("../../Images/loginRegbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.prof-box {
  position: relative;
  width: 25em;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.prof-bio > textarea,
.prof-batch > input,
.prof-name > input,
.prof-course > select {
  width: 100%;
  height: 100%;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: black;
  padding: 1rem;
  background: none;
  outline: none;
  margin-bottom: 1.5rem;
  resize: none;
}

.prof-bio > textarea:hover,
.reg-batch > input:hover,
.prof-name > input:hover,
.prof-course > select:hover {
  border-color: #adffff;
}

.prof-bio > textarea:focus,
.prof-batch > input:focus,
.prof-name > input:focus,
.prof-course > select:focus {
  border-color: #18ffff;
}

.prof-bio {
  margin-top: 2rem;
}
.prof-bio > label {
  position: absolute;
  left: 3rem;
  top: 17.8rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, top 200ms ease-in;
}

.prof-name > label {
  position: absolute;
  left: 3rem;
  top: 3.2rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, top 200ms ease-in;
}

.prof-course > label {
  position: absolute;
  left: 4rem;
  top: 6.5rem;
  padding: 0 0.5rem;
  cursor: text;
  background-color: white;
}

.prof-batch > label {
  position: absolute;
  left: 3rem;
  top: 13.6rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, top 200ms ease-in;
}

.name__form:focus ~ .name__label,
.name__form:not(:placeholder-shown).name__form:not(:focus) ~ .name__label {
  top: 1.3rem;
  left: 4rem;
  font-size: 1rem;
  background-color: white;
}

.batch__form:focus ~ .batch__label,
.batch__form:not(:placeholder-shown).batch__form:not(:focus) ~ .batch__label {
  top: 11.8rem;
  left: 4rem;
  font-size: 1rem;
  background-color: white;
}

.edit-btn {
  align-self: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 0.5rem 3rem;
  border-radius: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #45435c;
}

.prof-box {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: -1px 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.web-title {
  text-align: center;
}
.web-title > img {
  height: 18rem;
  width: 18rem;
  object-fit: cover;
}

.register {
  margin-top: 1rem;
  text-align: center;
}
.register > a {
  font-weight: bold;
  color: #45383f;
  transition: color 200ms ease;
}

.register > a:hover {
  //   color: #45435c;
  color: #586e9a;
}

.prof-name > .invalid,
.prof-bio > .invalid,
.prof-batch > .invalid,
.prof-name > .invalid:hover,
.prof-bio > .invalid:hover,
.prof-batch > .invalid:hover,
.prof-name > .invalid:focus,
.prof-bio > .invalid:focus,
.prof-batch > .invalid:focus {
  border: 2px solid #ff5757;
}

.errors {
  margin-left: 1rem;
  width: auto;
  height: auto;
  padding: 0.5rem 0.5rem;
  align-self: flex-start;
  margin-top: 22rem;
}

.errors > p {
  margin-bottom: 1rem;
  color: #ff5757;
}

.msg {
  display: none;
}
.msg:before {
  font: var(--fa-font-solid);
  content: "\f071";
  font-size: 1rem;
  margin-right: 0.3rem;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}
